/* Page Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: myfont; */
}

.navheader {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-self: center;
    background-color: rgb(231, 197, 186);
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navheader ul li,a {
    list-style: none;
    display: inline-block;
    padding-left: 1rem;
    color: blue !important;
}

.banner {
    background: rgba(0, 0, 0, 1) url('/ASSETS/img/IMG_20190206_023251_8.jpg') no-repeat center;
    display: flex;
    justify-content: center;
    background-size: coVER;
    align-items: center;
    width: 100%;
    height: 70vh;
} 

.banner h1 {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    color: #fff;
}

.desc {
    padding: 3rem;
}

h2 {
    margin: 2rem 0;
}
.service-wrapper:hover .services{
    display: block !important;
    background: rgb(59, 221, 208);
}
.services a{
    color: brown;
}
.services li {
    display: block;
    padding: 0.5rem;
}
.services {
    display: none;
    position: absolute;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
nav button {
    padding: 0.3rem;
    margin: 0.2rem;
    border: none;
}
nav button:hover {
    border: 1px solid rgb(219, 216, 13);
    background: none;
}
@font-face {
    font-family: myfont;
    src: url(/ASSETS/img/Grave\ Snatchers.ttf);
}

input[type="search"]::placeholder {
    color: black;
}
input[type="search"]:focus {
    width: 500px;
    border: 1px solid aqua;
    border-radius: 10px;
    height: 50px;
}
input:focus {
    outline: none;
}

.product {
    display: flex;
    margin: 1px;
    justify-content: center;
}

.product img {
    width: 25vw;
    margin: 1rem;
    box-shadow: 1px 2px 9px 0 rgb(28, 26, 26);
    transition: all 0.5s ease;
}

.product img:hover {
    transform: scale(1.1);
}

.overlay {
    display: none;
}

.wrap {
    position: relative;
    cursor: pointer;
}

.wrap:hover .overlay {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
}

.client {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4rem 0;
}

.client img {
    width: 15vw;
}
/* video {
    /* display: flex; */
/*   
    text-align: center;
    justify-content: center; */
/* } */

.tour-box{
    margin-top: 200px;
    display: flex;
    /* background-image: linear-gradient(to right, red, yellow); */
    text-align: center;

}




table th, td, tr {
    border: 1px solid blue;
    padding: 0.5rem;
    height: 50px;
    vertical-align: bottom;

}
table {
    width: 50%;
    text-align: center;
    margin: auto;
}

.sec-footer {
    background-color: #ccc;
}
footer {
    text-align: center;
    justify-content: center;
    color: blue;
    padding: 2rem;
    background-color: rgb(233, 206, 231);
    width: 100%;
}